<div class="row align-items-center bg-secondary he-100">
    <div class="col-8 col-sm-6 offset-2 offset-sm-3 border border-dark rounded-50 bg bg-white p-3">
        <div class="row align-items-center justify-content-center m-2">
            <h3>
                Start as Guest or Log IN
            </h3>
        </div>
        <div class="row align-items-center justify-content-center m-2">
            <button class="col-6 btn btn-primary">Start as Guest</button>
        </div>
        <div class="row align-items-center justify-content-center m-2">
            <button class="col-6 btn btn-primary">Log In</button>
        </div>
    </div>
</div>
