<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img routerLink='/home' src="../../../assets/images/logoRPGAME.png" alt="LOGO.png" class="d-none d-xl-block" style="width: 3em;">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MENÚ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink='/home'>Personajes</a>
                <a class="dropdown-item" routerLink='/ataques'>Ataques</a>
                <a class="dropdown-item" routerLink='/login'>Volver a log-in</a>
              </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Deslogear<span class="sr-only">(current)</span></a>
            </li>
        </ul>    
    </div>

    <form class="form-inline" [formGroup]="searchForm">
        <input class="form-control mr-sm-2 col-8 mr-1" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
    <img src="../../../assets/images/logoRPGAME.png" alt="LOGO.png" class="d-xs-block d-xl-none" style="width: 3em;">

  </nav>